.d3-chart {
	width: 100%;
	background-color: black	}	

.d3-chart .axis path,
.d3-chart .axis line {
	stroke: #999;}	

.d3-chart .axis text {
	fill: #999;}

html, body {
  height: 100%;
}

.full-height {
	height: 100%;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	overflow:hidden;
	z-index:-1; 
	margin: auto;
	flex: 1 1 auto;
}

